



<%= react_component("QuestionsShow", props: {question: @question, currentUser: current_user } , prerender: false) %>




<!-- 
<h1><%= @question.title %></h1>

<p><%= @question.detail %></p>

<%= #render partial: 'comments/comments_index', locals: {commentable: @question} %>
<%= #render partial: 'comments/form', locals: {commentable: @question} %>


Votes:<span lass="badge"> <%= @question.cached_votes_score %></span>

Answers section for now, until moved to partial

<%= #render 'answers/show_answers', locals: {question: @question} %>

<%= #render 'answers/form', locals: {question: @question} %>




<%= #link_to "back to all questions ", react_index_path %><br />

<%= #link_to "edit ", edit_question_path(@question) %><br />

<%= #link_to "delete", @question, method: :delete %><br /> -->