
<h1><%= @question.title %></h1>

<p><%= @question.detail %></p>
<span lass="badge"> <%= @question.get_upvotes.size %></span>

<% @question.answers.each do |answer| %>
	<h3><%= answer.response %></h3>
	<p>Posted by: <%= answer.user.username %>
	<!-- <input type="button" value="upvote" class="btn btn-secondary" data-target-answer="<%= answer %>" -->
	<%= link_to "Upvote", like_question_answer_path(@question, answer), method: :put %>
	<%= link_to "Downvote", dislike_question_answer_path(@question, answer), method: :put %>
	<span lass="badge"> <%= answer.cached_votes_score %></span>

<% end %>

<h2> Add Answer </h2>
	<%= form_for([@question, @question.answers.build]) do |a| %>
		<div class="form-group">
			<div class="field">
				<%= a.label :response %><br />
				<%= a.text_area :response	 %>
			</div>
		</div>
		<div class="form-group">
			<div class="field">
				<%= a.submit %>
			</div>
		</div>

<% end %>


<%= link_to "back to all questions ", questions_path %><br />

<%= link_to "edit ", edit_question_path(@question) %><br />

<%= link_to "delete", @question, method: :delete %><br />